@font-face {
    font-family: 'Liberation Sans';
    src: url('/fonts/LiberationSans-Regular.ttf');
}

@font-face {
    font-family: 'Liberation Mono';
    src: url('/fonts/LiberationMono-Regular.ttf');
}

.root{
    -fx-font-family: 'Liberation Sans';
}

.text-area, .list-view, .cell{
    -fx-font-family: 'Liberation Mono';
}